<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Broker | Dashboard test</title>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ asset('node_modules/adminlte/plugins/fontawesome-free/css/all.min.css')}}">
  <link rel="stylesheet" href="{{ asset('node_modules/adminlte/dist/css/adminlte.min.css')}}">
  
</head>
<body>
<div class="container">
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Les volumes de données -->
        <h5 class="mb-2">Entités</h5>
        <div class="row">
          <!-- info-box - Assureur -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-shield-halved"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Assureurs</span>
                <span class="info-box-number">8</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Automobile -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-car"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Automobiles</span>
                <span class="info-box-number">410</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Client -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-people-roof"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Clients</span>
                <span class="info-box-number">13,648</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Contact -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-address-book"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Contacts</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Entreprise -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-house-laptop"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Entreprises</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Impots et taxes -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-scale-balanced"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Impôts et taxes</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Monnaies -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-money-check-dollar"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Monnaies</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Partenaires -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-handshake"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Partenaires</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- info-box - Polices -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-umbrella"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Polices</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->


          <!-- info-box - Produits -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-secondary"><i class="fa-solid fa-hands-holding-child"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Produits</span>
                <span class="info-box-number">93,139</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

        <!--Synthèse production par assureur -->
        <div class="row">
          <div class="col-12">

            <!-- Primes par assureur -->
            <div class="card card-gray card-outline collapsed-card">
              <div class="card-header">
                <h3 class="card-title">
                <i class="fa-solid fa-umbrella"></i>        
                Synthèse - Production par assureur</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-1" style="display:none;">
                <table class="table table-hover text-nowrap table-sm">
                  <thead>
                    <tr class="bg-secondary">
                      <th>ETIQUETTES</th>
                      <th class="text-right">PRIMES TTC</th>
                      <th class="text-right">COM. HT</th>
                      <th class="text-right">TVA @16%</th>
                      <th class="text-right">ARCA @2%</th>
                      <th class="text-right">COM. TTC</th>
                      <th class="text-right">COM. ENCAISSEE</th>
                      <th class="text-right">SOLDE DU</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mai</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juin</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juillet</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Août</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Septembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Octobre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Novembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Décembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">SFA</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="bg-secondary">
                      <th>GRAND TOTAL</th>
                      <th class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 10.000,05</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!--Synthèse production par mois -->
        <div class="row">
          <div class="col-12">

            <!-- Primes par mois -->
            <div class="card card-gray card-outline collapsed-card">
              <div class="card-header">
                <h3 class="card-title">
                <i class="fa-solid fa-umbrella"></i>                
                Synthèse - Production par mois</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-1" style="display:none;">
                <table class="table table-hover text-nowrap table-sm">
                  <thead>
                    <tr class="bg-secondary">
                      <th>ETIQUETTES</th>
                      <th class="text-right">PRIMES TTC</th>
                      <th class="text-right">COM. HT</th>
                      <th class="text-right">TVA @16%</th>
                      <th class="text-right">ARCA @2%</th>
                      <th class="text-right">COM. TTC</th>
                      <th class="text-right">COM. ENCAISSEE</th>
                      <th class="text-right">SOLDE DU</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">SUNU</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">RAWSUR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">MAYFAIR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">Février</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">SUNU</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">RAWSUR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">MAYFAIR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">Mars</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">SUNU</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">RAWSUR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">MAYFAIR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">Avril</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">SUNU</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">RAWSUR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">MAYFAIR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">Mai</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">ACTIVA</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">SUNU</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">RAWSUR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">MAYFAIR</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="bg-secondary">
                      <th>GRAND TOTAL</th>
                      <th class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 10.000,05</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!--Synthèse retrocommission -->
        <div class="row">
          <div class="col-12">

            <!-- Retrocommission -->
            <div class="card card-gray card-outline collapsed-card">
              <div class="card-header">
                <h3 class="card-title">
                <i class="fa-solid fa-filter-circle-dollar"></i>        
                Synthèse - Retrocommissions</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-1" style="display:none;">
                <table class="table table-hover text-nowrap table-sm">
                  <thead>
                    <tr class="bg-secondary">
                      <th>ETIQUETTES</th>
                      <th class="text-right">COM. RECUE</th>
                      <th class="text-right">-TVA @16%</th>
                      <th class="text-right">-ARCA @2%</th>
                      <th class="text-right">COM. HT</th>
                      <th class="text-right">COM. DUE</th>
                      <th class="text-right">COM. PAYEE</th>
                      <th class="text-right">SOLDE DU</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">AFINBRO (@50%)</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ -45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ -45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mai</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juin</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juillet</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Août</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Septembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Octobre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Novembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Décembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">OLEA (@45%)</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ -45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ -45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ -20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 5.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="bg-secondary">
                      <th>GRAND TOTAL</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ -45.454.456,95</th>
                      <th class="text-right">$ -45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 10.000,05</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!--Synthèse impôt et taxes -->
        <div class="row">
          <div class="col-12">

            <!-- Impôts et taxes -->
            <div class="card card-gray card-outline collapsed-card">
              <div class="card-header">
                <h3 class="card-title">
                <i class="fa-solid fa-scale-balanced"></i>       
                Synthèse - Impôts et Taxes</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-1" style="display:none;">
                <table class="table table-hover text-nowrap table-sm">
                  <thead>
                    <tr class="bg-secondary">
                      <th>ETIQUETTES</th>
                      <th class="text-right">COMMISSIONS ENCAISSEES</th>
                      <th class="text-right">TAXES DUES</th>
                      <th class="text-right">TAXES PAYEES</th>
                      <th class="text-right">SOLDE A PAYER</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">TAXE SUR LA VALEUR AJOUTEE - TVA (@16%)</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mai</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juin</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Juillet</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Août</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Septembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Octobre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Novembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Décembre</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr class="bg-light">
                      <td><span class="font-weight-bold">FRAIS DE SURVEILLANCE - ARCA (@2%)</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 45.454.456,95</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Janvier</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Février</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Mars</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-light pl-3">Avril</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 20.000,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.800,45</span></td>
                      <td class="text-right"><span class="font-weight-light">$ 5.000,45</span></td>
                      <td class="text-right text-danger"><span class="font-weight-bold">$ 800,00</span></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="bg-secondary">
                      <th>GRAND TOTAL</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 45.454.456,95</th>
                      <th class="text-right">$ 10.000,05</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!--Graphique :  Primes par mois -->
        <div class="row">
          <div class="col-12">
            <!-- Graphique : Primes par mois -->
            <div class="card card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>                
                Primes par mois</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="primes_mois" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 476px;" width="952" height="500" class="chartjs-render-monitor"></canvas>
                  <div class="primes_ttc_mois" data-donnees = "{{data_primes_ttc_mois|serialize(format = 'json')}}"></div>
                  <div class="primes_ht_mois" data-donnees = "{{data_primes_ht_mois|serialize(format = 'json')}}"></div>
                  <div class="fronting_mois" data-donnees = "{{data_fronting_mois|serialize(format = 'json')}}"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!-- Graphique : Commissions par mois -->
        <div class="row">
          <!-- Graphique : Commission de courtage par mois -->
          <div class="col-12">
            <!-- Graphique : Commission de courtage par mois -->
            <div class="card card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>                
                Commissions de courtage par mois</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="commission_nette_mois" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 476px;" width="952" height="500" class="chartjs-render-monitor"></canvas>
                  <div class="commissions_nettes_mois" data-donnees = "{{data_com_nettes_mois|serialize(format = 'json')}}"></div>
                  <div class="commissions_encaissees_mois" data-donnees = "{{data_com_encaissees_mois|serialize(format = 'json')}}"></div>
                  <div class="commissions_impayees_mois" data-donnees = "{{data_com_impayees_mois|serialize(format = 'json')}}"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>



        <!-- Graphique : Primes par assureur -->
        <div class="row">
          <!-- Graphique : Primes par assureur -->
          <div class="col-md-4">
            <!-- Graphique : Primes par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Primes / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="primes_assureur" style="height: 300px;"></div>
				        <div class="primes_assureur" data-donnees = "{{data_primes_assureur|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>

          <!-- Commissions nette par assureur -->
          <div class="col-md-4">
            <!-- Commissions nette par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Com. nettes / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="commissions_nettes_assureur" style="height: 300px;"></div>
				        <div class="commissions_nettes_assureur" data-donnees = "{{data_com_nettes|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!-- Commissions impayées par assureur -->
          <div class="col-md-4">
            <!-- Commissions impayées par assureur -->
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Com. impayées / assureur
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="commissions_impayees_assureur" style="height: 300px;"></div>
				        <div class="commissions_impayees_assureur" data-donnees = "{{data_com_impayees|serialize(format = 'json')}}"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>



      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('node_modules/adminlte/plugins/jquery/jquery.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/chart.js/Chart.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/dist/js/adminlte.min.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/jquery.flot.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/plugins/jquery.flot.resize.js')}}"></script>
<script src="{{ asset('node_modules/adminlte/plugins/flot/plugins/jquery.flot.pie.js')}}"></script>



<!-- Page specific script -->
<script>

  $(function () {
      //--------------
      //- PRIMES PAR MOIS -
      //--------------

      var dataPrimes = {
        labels  : ['Janv', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
        datasets: [
          {
            label               : 'Primes (HT)',
            backgroundColor     : 'gray',
            borderColor         : 'gray',
            pointRadius          : false,
            pointColor          : 'gray',
            pointStrokeColor    : 'gray',
            pointHighlightFill  : 'gray',
            pointHighlightStroke: 'gray',
            data                : JSON.parse(document.querySelector('.primes_ht_mois').dataset.donnees)//[15000, 2000, 25000, 35000, 65000, 75000, 10000, 15500, 64000, 6550, 12000, 25000]
          },
          {
            label               : 'Primes (TTC)',
            backgroundColor     : 'black',
            borderColor         : 'black',
            pointRadius         : false,
            pointColor          : 'orange',
            pointStrokeColor    : 'orange',
            pointHighlightFill  : 'orange',
            pointHighlightStroke: 'orange',
            data                : JSON.parse(document.querySelector('.primes_ttc_mois').dataset.donnees)//[1500, 1500, 24500, 30000, 60000, 73500, 9500, 10000, 35000, 6550, 11500, 23000]
          },
          {
            label               : 'Fronting',
            backgroundColor     : 'blue',
            borderColor         : 'blue',
            pointRadius         : false,
            pointColor          : 'blue',
            pointStrokeColor    : 'blue',
            pointHighlightFill  : 'blue',
            pointHighlightStroke: 'blue',
            data                : JSON.parse(document.querySelector('.fronting_mois').dataset.donnees)//[1500, 1500, 24500, 30000, 60000, 73500, 9500, 10000, 35000, 6550, 11500, 23000]
          }
        ]
      }
      
      //-------------
      //- PRIMES / MOIS -
      //-------------
      var primesMoisCanvas = $('#primes_mois').get(0).getContext('2d');
      var primesMoisData = $.extend(true, {}, dataPrimes);
      var temp0 = dataPrimes.datasets[0];
      var temp1 = dataPrimes.datasets[1];
      primesMoisData.datasets[0] = temp1;
      primesMoisData.datasets[1] = temp0;

      var primesMoisOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      };


      //On dessine l'histogramme en batons
      new Chart(primesMoisCanvas, {
        type: 'bar',
        data: primesMoisData,
        options: primesMoisOptions
      })




      //--------------
      //- COMMISSION PAR MOIS -
      //--------------

      var dataCommissions = {
        labels  : ['Janv', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
        datasets: [
          {
            label               : 'Commissions encaissées',
            backgroundColor     : 'gray',
            borderColor         : 'gray',
            pointRadius         : false,
            pointColor          : 'gray',
            pointStrokeColor    : 'gray',
            pointHighlightFill  : 'gray',
            pointHighlightStroke: 'gray',
            data                : JSON.parse(document.querySelector('.commissions_encaissees_mois').dataset.donnees)//[15000, 2000, 25000, 35000, 65000, 75000, 10000, 15500, 64000, 6550, 12000, 25000]
          },
          {
            label               : 'Commissions nettes',
            backgroundColor     : 'orange',
            borderColor         : 'orange',
            pointRadius         : false,
            pointColor          : 'orange',
            pointStrokeColor    : 'orange',
            pointHighlightFill  : 'orange',
            pointHighlightStroke: 'orange',
            data                : JSON.parse(document.querySelector('.commissions_nettes_mois').dataset.donnees)//[1500, 1500, 24500, 30000, 60000, 73500, 9500, 10000, 35000, 6550, 11500, 23000]
          },
          {
            label               : 'Commissions impayées',
            backgroundColor     : 'red',
            borderColor         : 'red',
            pointRadius         : false,
            pointColor          : 'red',
            pointStrokeColor    : 'red',
            pointHighlightFill  : 'red',
            pointHighlightStroke: 'red',
            data                : JSON.parse(document.querySelector('.commissions_impayees_mois').dataset.donnees) //[13500, 500, 500, 5000, 5000, 1500, 500, 5500, 29000, 0, 500, 2000]
          },
        ]
      }
      
            
      //-------------
      //- BAR CHART -
      //-------------
      var commissionsMoisCanvas = $('#commission_nette_mois').get(0).getContext('2d');
      var commissionsMoisData = $.extend(true, {}, dataCommissions);
      var temp0 = dataCommissions.datasets[0];
      var temp1 = dataCommissions.datasets[1];
      commissionsMoisData.datasets[0] = temp1;
      commissionsMoisData.datasets[1] = temp0;

      var barChartOptions = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      };

      //On dessine l'histogramme en batons
      new Chart(commissionsMoisCanvas, {
        type: 'bar',
        data: commissionsMoisData,
        options: barChartOptions
      })

      




 /*
      * COMMISSIONS NETTES PAR ASSUREUR
      * -----------
      */

    var data_primes_assureur = JSON.parse(document.querySelector('.primes_assureur').dataset.donnees);
      $.plot('#primes_assureur', data_primes_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })

      /*
      * COMMISSIONS NETTES PAR ASSUREUR
      * -----------
      */

    var data_commissions_nettes_assureur = JSON.parse(document.querySelector('.commissions_nettes_assureur').dataset.donnees);
      $.plot('#commissions_nettes_assureur', data_commissions_nettes_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })

      /*
      * COMMISSIONS IMPAYEES PAR ASSUREUR
      * -----------
      */

    var data_commissions_impayees_assureur = JSON.parse(document.querySelector('.commissions_impayees_assureur').dataset.donnees);
      $.plot('#commissions_impayees_assureur', data_commissions_impayees_assureur, {
        series: {
          pie: {
            show       : true,
            radius     : 1,
            innerRadius: 0.3, //Boule blanche au centre du diagramme
            label      : {
              show     : true,
              radius   : 2 / 3,
              formatter: labelFormatter,
              threshold: 0.01
            }
          }
        },
        legend: {
          show: false
        }
      })



    
      

    });
    /*
    * Custom Label formatter
    * ----------------------
    */
    function labelFormatter(label, series) {
      return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
        + label
        + '<br>(' + Math.round(series.percent) + '%)</div>'
    }





</script>
</body>
</html>
