{% extends "template.ui.html.twig" %}

{% block classeActiveListe %}active{% endblock %}
{% block classeOpenListe %}menu-open{% endblock %}
{% block classeActiveListeMonnaies %}active{% endblock %}

{% block appTitreRubrique %}{% endblock %}

{% block appCorps %}
	<div class="row">
		<div class="card m-2 p-0">
			<h5 class="card-header">
				<i class="fa-solid fa-money-check-dollar"></i>
				{{monnaie.nom}}
				({{monnaie.code}})
			</h5>
			<div class="card-body">
				<div class="card-subtitle mb-2 text-muted">
					<i class="fa-brands fa-slack"></i>
					Symbole:
					{{monnaie.code}}
				</div>
				<div class="card-subtitle mb-2 text-muted">
					<i class="fa-brands fa-slack"></i>
					{{monnaie.tauxusd|number_format(2, ',', '.')}}
					(en monnaie locale)
				</div>
				<p class="card-text">
					{% if monnaie.islocale %}
						{{monnaie.nom}}
						est une Monnaie locale.
					{% else %}
						{{monnaie.nom}}
						est une monnaie étrangère.
					{% endif %}
				</p>
				<a class="btn btn-light btn-sm card-link" href="{{ path('monnaie.list') }}">
					<i class="fa-solid fa-rectangle-list"></i>
					Retour à la liste
				</a>
				<span class="dropdown show">
					<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa-solid fa-screwdriver-wrench"></i>
						Actions
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="{{ path('monnaie.edit', {id:monnaie.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
							Modifier
						</a>
						<a class="dropdown-item text-danger" href="{{ path('monnaie.delete', {id:monnaie.id}) }}">
							<i class="fa-solid fa-trash-can"></i>
							Supprimer
						</a>
					</div>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
