{% extends "template.ui.html.twig" %}

{% block classeActiveOutstanding %}active
{% endblock %}
{% block classeOpenOutstanding %}menu-open
{% endblock %}
{% block classeActiveOutstandingPartenaires %}active
{% endblock %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-filter-circle-dollar"></i>
	{{appTitreRubrique}}
{% endblock %}

{% block appCorps %}

	{# BLOC DES AGREGATEURS / CHIFFRES GLOBAUX #}
	<div
		class="container-fluid">
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div
				class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-warning">
					<div class="inner">
						<h4>{{agregats.codemonnaie}}
							{{agregats.montant|number_format(2, ',', '.')}}
							(ttc)</h4>
						Totale dûe au partenaire.
					</div>
					<div class="icon">
						<i class="fa-solid fa-handshake"></i>
					</div>
					<a href="#" class="small-box-footer">
						<i class="fas fa-arrow-circle-right"></i>
						Retro Commissions de courtage à verser
					</a>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>

	{# BLOC DU MOTEUR DE RECHERCHE #}
	{{ form_start(search_form) }}
	<div class="align-content-center">
		<div class="form-row align-items-end m-2" style="display:none">
			<div class="col">
				{{ form_row(search_form.taxe) }}
			</div>
		</div>
		<div class="form-row align-items-end m-2">
			<div class="col">
				{{ form_row(search_form.assureur) }}
			</div>
			<div class="col">
				{{ form_row(search_form.produit) }}
			</div>
			<div class="col">
				{{ form_row(search_form.partenaire) }}
			</div>
			<div class="col">
				{{ form_row(search_form.client) }}
			</div>
		</div>
		<div class="form-row align-items-end m-2">
			<div class="col">
				{{ form_row(search_form.dateA) }}
			</div>
			<div class="col">
				{{ form_row(search_form.dateB) }}
			</div>
			<div class="col">
				{{ form_row(search_form.motcle) }}
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">
					<i class="fa-solid fa-magnifying-glass"></i>
					Chercher
				</button>
			</div>
		</div>

	</div>
	{{ form_end(search_form) }}

	<small>

		{% if (outstandings|length > 0) %}
			<div class="navigation">
				{{ knp_pagination_render(outstandings) }}
			</div>

			<div class="row m-2">
				{% for outstanding in outstandings %}

					<div class="card m-2 p-0" style="width: 18rem;">
						<h5 class="card-header">
							{% if outstanding.canPay == true %}
								<span class="badge badge-warning">
									<i class="fa-solid fa-trophy"></i>
								</span>
							{% endif %}
							<i class="fa-solid fa-filter-circle-dollar"></i>
							{{outstanding.codeMonnaie}}
							{{outstanding.montantSolde|number_format(2, ',', '.')}}

						</h5>
						<div class="card-body">
							<div class="card-subtitle mb-2 text-muted">
								<i class="fa-solid fa-umbrella"></i>
								{{outstanding.police.reference}}
							</div>
							<div class="card-subtitle mb-2 text-muted">
								<i class="fa-solid fa-umbrella"></i>
								{{outstanding.police.monnaie.code}}
								{{outstanding.police.primetotale|number_format(2, ',', '.')}}
							</div>
							<div class="card-subtitle mb-2 text-muted">
								<i class="fa-solid fa-calendar-day"></i>
								{{outstanding.police.dateeffet|date("d/m/Y")}}
								-
								{{outstanding.police.dateexpiration|date("d/m/Y")}}
							</div>
							<div class="card-subtitle mb-2 text-muted">
								<i class="fa-solid fa-people-roof"></i>
								{{outstanding.police.client.nom}}
							</div>
							<div class="card-subtitle mb-2 text-muted">
								<i class="fa-solid fa-shield-halved"></i>
								{{outstanding.police.assureur.nom}}
							</div>
							{% if outstanding.police.partenaire != null %}
								<div class="card-subtitle mb-2 text-muted">
									<i class="fa-solid fa-handshake"></i>
									{{outstanding.police.partenaire.nom}}
								</div>
							{% endif %}
							<p class="card-text">
								{{outstanding.police.produit.nom}}
								-
								{% if outstanding.police.typeavenant == 0 %}
									(SOUSCRIPTION)
								{% endif %}
								{% if outstanding.police.typeavenant == 1 %}
									(RENOUVELLEMENT)
								{% endif %}
								{% if outstanding.police.typeavenant == 2 %}
									(ANNULATION)
								{% endif %}
								{% if outstanding.police.typeavenant == 3 %}
									(RESILIATION)
								{% endif %}
								{% if outstanding.police.typeavenant == 4 %}
									(RISTOURNE)
								{% endif %}
								{% if outstanding.police.typeavenant == 5 %}
									(PROROGATION)
								{% endif %}
							</p>
							<a class="btn btn-light btn-sm card-link" href="{{ path('police.details', {id:outstanding.police.id}) }}">
								<i class="fa-solid fa-circle-info"></i>
								Voire la police
							</a>
							<span class="dropdown show">
								<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa-solid fa-screwdriver-wrench"></i>
									Actions
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="{{ path('police.details', {id:outstanding.police.id}) }}">
										<i class="fa-solid fa-umbrella"></i>
										Ouvrir la police
									</a>
									{% if outstanding.canPay == true %}
										<a class="dropdown-item" href="{{ path('popretrocommission.deposit', {idpolicy:outstanding.police.id, amount:outstanding.montantSolde, idmonnaie:outstanding.police.monnaie.id}) }}">
											<i class="fa-solid fa-money-bill-transfer"></i>
											Payer
										</a>
									{% endif %}
								</div>


							</span>
						</div>
					</div>

				{% endfor %}
			</div>
		{% else %}
			Aucun résultat.
		{% endif %}
	</small>
{% endblock %}
