{% extends "template.ui.html.twig" %}

{% block classeActivePaiement %}active{% endblock %}
{% block classeOpenPaiements %}menu-open{% endblock %}
{% block classeActiveListePopCommissions %}active{% endblock %}

{% block appTitreRubrique %}
	<i class="fa-solid fa-filter-circle-dollar"></i>
	{{appTitreRubrique}}
{% endblock %}

{% block appCorps %}
	{# BLOC DES AGREGATEURS / CHIFFRES GLOBAUX #}
	<div
		class="container-fluid">
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div
				class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-success">
					<div class="inner">
						<h4>{{agregats.codemonnaie}}
							{{agregats.montantRecu|number_format(2, ',', '.')}}
							(ttc)</h4>
						Net partageable: {{agregats.codemonnaie}} {{agregats.montantNet|number_format(2, ',', '.')}}
					</div>
					<div class="icon">
						<i class="fa-solid fa-filter-circle-dollar"></i>
					</div>
					<a href="#" class="small-box-footer">
					<i class="fas fa-arrow-circle-right"></i>
					Commissions de courtage encaissées
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div
				class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-danger">
					<div class="inner">
						<h4>{{agregats.codemonnaie}}
							{{agregats.tva|number_format(2, ',', '.')}}
							</h4>
							Taxe sur la valeur ajoutée (Tva @16%)
					</div>
					<div class="icon">
						<i class="fa-solid fa-scale-balanced"></i>
					</div>
					<a href="#" class="small-box-footer">
					<i class="fas fa-arrow-circle-right"></i>
					Parts dûes à l'Etat
					</a>
				</div>
			</div>
			<!-- ./col -->
			<div
				class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-danger">
					<div class="inner">
						<h4>{{agregats.codemonnaie}}
							{{agregats.arca|number_format(2, ',', '.')}}
							</h4>
							Frais de régulation (Arca @2%)
					</div>
					<div class="icon">
						<i class="fa-solid fa-scale-balanced"></i>
					</div>
					<a href="#" class="small-box-footer">
					<i class="fas fa-arrow-circle-right"></i>
					Parts dûes au régulateur
					</a>
				</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
	</div>

	{{ form_start(search_form) }}
	<div class="align-content-center">
		<div class="form-row align-items-end m-2">
			<div class="col">
				{{ form_row(search_form.dateA) }}
			</div>
			<div class="col">
				{{ form_row(search_form.dateB) }}
			</div>
			<div class="col">
				{{ form_row(search_form.motcle) }}
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary">
					<i class="fa-solid fa-magnifying-glass"></i>
					Chercher
				</button>
				{# <a href="{{ path('popcommission.edit') }}" type="button" class="btn btn-success">
					<i class="fa-solid fa-circle-plus"></i>
					Nouveau
				</a> #}
			</div>
		</div>
		<div class="form-row align-items-end m-2">
			<div class="col">
				{{ form_row(search_form.assureur) }}
			</div>
			<div class="col">
				{{ form_row(search_form.police) }}
			</div>
			<div class="col">
				{{ form_row(search_form.partenaire) }}
			</div>
			<div class="col">
				{{ form_row(search_form.client) }}
			</div>
		</div>
	</div>
	{{ form_end(search_form) }}

	{% if (paiementcommissions|length > 0) %}
		<div class="navigation m-2">
			{{ knp_pagination_render(paiementcommissions) }}
		</div>
		<div class="row m-2">
			{% for paiementcommission in paiementcommissions %}
				<div class="card m-2 p-0" style="width: 18rem;">
					<h5 class="card-header">
						<i class="fa-solid fa-filter-circle-dollar"></i>
						{{paiementcommission.refnotededebit}}
					</h5>
					<div class="card-body">
						<div class="card-subtitle mb-2 text-muted">
							<i class="fa-solid fa-money-check-dollar"></i>
							{{paiementcommission.monnaie.code}}
							{{paiementcommission.montant|number_format(2, ',', '.')}}
							/
							{{paiementcommission.description}}
						</div>
						<div class="card-subtitle mb-2 text-muted">
							<i class="fa-solid fa-umbrella"></i>
							Police:
							<span class="badge bg-secondary">{{paiementcommission.police.reference}}</span>
						</div>
						<p class="card-text">
							Encaissée le
							{{paiementcommission.date|date("d/m/Y")}}
						</p>
						<a class="btn btn-light btn-sm card-link" href="{{ path('popcommission.details', {id:paiementcommission.id}) }}">
							<i class="fa-solid fa-circle-info"></i>
							Voir les détails
						</a>
						<span class="dropdown show">
							<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-screwdriver-wrench"></i>
								Actions
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="{{ path('popcommission.edit', {id:paiementcommission.id}) }}">
									<i class="fa-solid fa-pen-to-square"></i>
									Modifier
								</a>
								<a class="dropdown-item text-danger" href="{{ path('popcommission.delete', {id:paiementcommission.id}) }}">
									<i class="fa-solid fa-trash-can"></i>
									Supprimer
								</a>
							</div>
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		Aucun résultat.
	{% endif %}

{% endblock %}
