{% extends "template.ui.html.twig" %}

{% block classeActivePaiement %}active
{% endblock %}
{% block classeOpenPaiements %}menu-open
{% endblock %}
{% block classeActiveListePopCommissions %}active
{% endblock %}

{% block appTitreRubrique %}{% endblock %}

{% block appCorps %}
	<div class="row">
		<div class="card m-2 p-0">
			<h5 class="card-header">
				<i class="fa-solid fa-filter-circle-dollar"></i>
				{{paiementcommission.refnotededebit}}
			</h5>
			<div class="card-body">
				<div class="card-subtitle mb-2 text-muted">
					<i class="fa-solid fa-money-check-dollar"></i>
					{{paiementcommission.monnaie.code}}
					{{paiementcommission.montant|number_format(2, ',', '.')}}
					/
					{{paiementcommission.description}}
				</div>
				<div class="card-subtitle mb-2 text-muted">
					<i class="fa-solid fa-umbrella"></i>
					Police:
					<span class="badge bg-secondary">{{paiementcommission.police.reference}}</span>
				</div>
				<p class="card-text">
					Commission encaissée le
					{{paiementcommission.date|date("d/m/Y")}}
				</p>
				<a class="btn btn-light btn-sm card-link" href="{{ path('popcommission.list') }}">
					<i class="fa-solid fa-rectangle-list"></i>
					Retour à la liste
				</a>
				<span class="dropdown show">
					<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa-solid fa-screwdriver-wrench"></i>
						Actions
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="{{ path('popcommission.edit', {id:paiementcommission.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
							Modifier
						</a>
						<a class="dropdown-item text-danger" href="{{ path('popcommission.delete', {id:paiementcommission.id}) }}">
							<i class="fa-solid fa-trash-can"></i>
							Supprimer
						</a>
					</div>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
