{% extends "template.ui.html.twig" %}

{% block classeActiveListe %}active{% endblock %}
{% block classeOpenListe %}menu-open{% endblock %}
{% block classeActiveListePolices %}active{% endblock %}

{% block appTitreRubrique %}{% endblock %}

{% block appCorps %}
	<div class="row">
		<div class="row justify-content-center">
			<div class="card m-2 p-0">
				<h5 class="card-header">
					<i class="fa-solid fa-umbrella"></i>
					{{police.reference}}
				</h5>
				<div class="card-body">
					<div class="card-subtitle mb-2 text-muted">
						<i class="fa-solid fa-calendar-day"></i>
						Période de couverture: du
						{{police.dateeffet|date("d/m/Y")}}
						au
						{{police.dateexpiration|date("d/m/Y")}}
					</div>
					<div class="card-subtitle mb-2 text-muted">
						<i class="fa-solid fa-people-roof"></i>
						Client: 
						{{police.client.nom}}
					</div>
					<div class="card-subtitle mb-2 text-muted">
						<i class="fa-solid fa-shield-halved"></i>
						{{police.assureur.nom}}
					</div>
					<p class="card-text">
						{% if police.typeavenant == 0 %}
							SOUSCRIPTION
						{% endif %}
						{% if police.typeavenant == 1 %}
							RENOUVELLEMENT
						{% endif %}
						{% if police.typeavenant == 2 %}
							ANNULATION
						{% endif %}
						{% if police.typeavenant == 3 %}
							RESILIATION
						{% endif %}
						{% if police.typeavenant == 4 %}
							RISTOURNE
						{% endif %}
						{% if police.typeavenant == 5 %}
							PROROGATION
						{% endif %}
						::
						{{police.monnaie.code}}
						{{police.primetotale|number_format(2, ',', '.')}}
						::
						{{police.produit.nom}}</p>
					<a class="btn btn-light btn-sm card-link" href="{{ path('police.list') }}">
						<i class="fa-solid fa-rectangle-list"></i>
						Retour à la liste
					</a>
					<span class="dropdown show">
						<a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa-solid fa-screwdriver-wrench"></i>
							Actions
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="{{ path('police.edit', {id:police.id}) }}">
								<i class="fa-solid fa-pen-to-square"></i>
								Modifier
							</a>
							<a class="dropdown-item text-danger" href="{{ path('police.delete', {id:police.id}) }}">
								<i class="fa-solid fa-trash-can"></i>
								Supprimer
							</a>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
